<html>
  <head>
    <title>Release Notes</title>
    <style>
    * { font-family: serif;}
    h1 { font-family: sans-serif; background-color: #ABABFF; padding:10px; font-size:1.2em;margin:0;}
    h1 span { font-size: 75%; font-weight: normal; float: right;}
    div.release {-webkit-border-radius: 5px; border: 1px solid #000;padding:10px;margin:10px 0;}
    </style>
  </head>
  <body>
    <%= release_notes_html %>
  </body>
</html>